 footer
.final{
    background-color: gray;
  width: 100%;
  height: 300px;
  bottom: 0;
  position: relative;
  text-align: center;
  top: 50px;

}
.final-col{
   width: 25%;
   padding: 0 15px;
}
.final-col h4{
    font-size: 18px;
    color: wheat;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.final-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.final-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: red;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}

.final-col .redes a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.final-col .redes a:hover{
    color: #24262b;
    background-color: #ffffff;
}
#body{
    background-color: gray;
}



.parrafo {
    background-color: green;
}
 main
